Telegram/venv/
Telegram/Data/aiogram_states.csv
Telegram/Data/applications.csv
Telegram/Data/backup.csv
Telegram/Data/emails.csv
Telegram/Data/Refactored_applications.json
Telegram/Data/Refactored_DB.json
Telegram/Data/Refactored_states.json
Telegram/Data/users.csv
Telegram/Data/users.xlsx
Telegram/test.py
Telegram/.env
Telegram/logs/
Telegram/.idea/*

ComputerEyes/.idea/*
ComputerEyes/python-onvif-zeep
ComputerEyes/venv/*
ComputerEyes/outputs.json
ComputerEyes/data/*
ComputerEyes/yolov8s.pt